
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
 <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://hammerjs.github.io/dist/hammer.min.js"></script>

<script>
function validateForm() {
  var x = document.forms["myForm"]["text"].value;
  if (x == "") {
    alert("Please write something!");
    return false;
  } else {
    alert("Post has been Created!");
    return true;
  }
}
</script>

</head>

<body>

<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/#">Eater</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/dashboard">Home</a></li>
          <li class="active"><a href="/group">Groups</a></li>
          <li class="active"><a href="/logout">Log Out</a></li>
          <li><a align="center" style="font-family:verdana;color:pink;"> I eat my burritos like I put on my pants, one leg at a time </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><b style="font-family:verdana;color:white;">Welcome!</b></li>
        </ul>
      </div>
    </nav>


<div style="margin-left: 20px">
    <h3>Welcome to {{group_name[0][0]}} Group!</h3>
 </div>

<ul>
    {% for n in posts_data %}
    <li>{{n[3]}}</li>
    <p style = "font-size: 16px; font-style: italic; color: grey;">By: {{n[0]}} {{n[1]}} | Posted on: {{n[2]}}</p>
	</br>
    {% endfor %}
 </ul>

 <form method="POST" action="/createPost" name="myForm" onsubmit="return validateForm()" style="margin-left: 20px">
<h3>Create a New Post: </h3>
<p><input type="text" name="text" style="width: 300px; height: 100px;"> </p>
<button name="view" type="submit" value="{{group_name[0][1]}}" class ="view" id="createPost">Create Post</button>
</form>


</body>

</html>
