<html>
  <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://hammerjs.github.io/dist/hammer.min.js"></script>

    <script>
function validateForm() {
  var x = document.forms["myForm"]["gname"].value;
  if (x == "") {
    alert("The name of the group can't be empty");
    return false;
  } else {
    alert("Group Created!");
    return true;
  }
}
</script>


  </head>


<body style="background: #CCFBFE;overflow: hidden;font-family: sans-serif;">


<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/#">Eater</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/dashboard">Home</a></li>
          <li class="active"><a href="/group">Groups</a></li>
          <li class="active"><a href="/logout">Log Out</a></li>
          <li><a align="center" style="font-family:verdana;color:pink;"> I eat my burritos like I put on my pants, one leg at a time </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><b style="font-family:verdana;color:white;">Welcome!</b></li>
        </ul>
      </div>
    </nav>


  <h1 style="margin-left: 20px">Groups</h1>

  <h3 style="margin-left: 20px">Joined Groups</h3>
  <div style="margin-left: 20px">
    {% for n in group_data %}
    <div style="margin-left: 20px">{{n[0]}} <form action="/another" method="post">
  <button name="view" type="submit" value="{{n[1]}}" class ="view">View</button>
  </form></div>
    {% endfor %}
  </div>

  <h3 style="margin-left: 20px">Groups Created by me</h3>
  <div style="margin-left: 20px">
    {% for n in my_groups %}
    <div style="margin-left: 20px">{{n[0]}} <form action="/another" method="post">
  <button name="view" type="submit" value="{{n[1]}}" class ="view">View</button>
  </form></div>
    {% endfor %}
  </div>

  <h3 style="margin-left: 20px">Recommended Groups</h3>
  <div style="margin-left: 20px">
    {% for n in reco_data %}
    <div style="margin-left: 20px">{{n[0]}}<form action="/joinGroup" method="post">
  <button name="gid" type="submit" value="{{n[1]}}" id = "jGroup">Join Group</button>
  </form></div>
    {% endfor %}
  </div>

<form method="POST" name="myForm" action="/add" onsubmit="return validateForm()" style="margin-left: 20px">
<h3>Create a New Group: </h3>
<p>Group Name: <input type="text" name="gname"> </p>
<p>Group Type: <select name="gtype">
    <option value="General">General</option>
    <option value="Cuisine Indian">Cuisine Indian</option>
    <option value="Cuisine Chinese">Cuisine Chinese</option>
    <option value="Cuisine Italian">Cuisine Italian</option>
    <option value="Cuisine Canto">Cuisine Canto</option>
    <option value="Cuisine Korean">Cuisine Korean</option>
    <option value="Cuisine Mexican">Cuisine Mexican</option>
    <option value="Cuisine Others">Cuisine Others</option>
  </select></br></br>
<input type="submit" value="Create" id='submitBut'>
</form>

<script type="text/javascript">
// document.getElementById('submitBut').onclick = function () {
//     alert("Group Created!");
// };

// document.getElementById('jGroup').onclick = function () {
//     alert("Congratulations, you have joined the group!");
// };

</script>

</body>


</html>
